*{
    padding: 0 ;
    margin: 0;
}
.logo{
    margin-top: -150px;
    width: 100%;
    height: 400px;
}
.social-media{
    /* padding: 40px; */
    padding-left: 130px !important;
    line-height: 150px;
    width: 100%;
    height: 150px;
    cursor: pointer;
}
.logo-div{
    width: 100%;
    height: 150px;
}
.first-row{
    display: flex;
    justify-content: space-between;
}
.nav-style{
    background-color: black;
    width: 100% !important;
    text-align: center !important;
}
.nav-style > .container-fluid{
    width: 100% !important;
}
ul{
    text-align: center;
}
.li-div:hover{
    color: #59bd99 !important;
}
.slider-img{
    width: 100%;
}
.carousel{
    width: 100%;
}
.slider-btn{
    /* margin-top: 400px;
    margin-left: 20px;
    margin-right: 20px; */
    width: 20px !important;
    height: 10px !important;
    border: none;
}
.slider-btn > span{
    width: 20px;
    height: 20px;
    background-color: #59bd99;
}
.ad-btn{
    background-color: #59bd99;
    width: 200px;
    height: 50px;
    font-size: 18px;
}
.ad-btn > a{
    text-decoration: none !important;
    color: white !important;
}
.ad-btn > a:hover{
    text-decoration: none !important;
    color: black !important;

}
.ad-btn:hover{
    border: 3px solid #59bd99;
    background-color: white;
    color: black !important;
}
.foot-end{
    width: 100%;
    line-height: 50px;
    background-color: #59bd99;
    height: 60px;
}
.foot-end > p{
    margin: auto;
    text-align: center;
}
.footer-sec{
    background-image: url("Images/new/sc1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    background-image: opacity(0.5);
}
.footer-sec > h1,
.footer-sec > h2{
    opacity: 1;
    color: white;
    text-align: center;
    line-height: 50px;
}
.footer-sec > p{
    color: white;
    text-align: center;
    font-size: 18px;
}
.about-1{
    background-color: #59bd99;
    height: 100px;
    text-align: center;
}
.about-1 > h4{
    padding-top: 25px;
}
.about-2{
    background-color: rgb(227, 227, 227);
    height: 100px;
    text-align: center;
}
.about-2 > a{
    padding-top: 28px !important;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.about-2 > a:hover{
    color: #59bd99;
}
.about-3{
    color: #59bd99 !important;
}
.about-logo{
    height: 300px;
    margin-top: 20px;
}
.about-staff{
    color: white;
    background-color: black;
}
.about-staff > h3{
    margin-top: 40px !important;
}
